body {
    background-color: #3f3e402e;
  }
body {
    text-align: center;
  }
  
  /* Centrar el texto dentro de un párrafo */
  p {
    text-align: center;
  }
  .Contacto {
    text-align: right;
  }
